<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <p><% f.label :email %></p>
    <p><%= f.email_field :email, class:"form-control", placeholder:"Email", autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="form-group">
    <p><% f.label :password %></p>
    <p><%= f.password_field :password, class:"form-control", placeholder:"Password", autocomplete: "current-password" %></p>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-check">
      <p><%= f.check_box :remember_me, class: "form-check-input" %></p>
      <p><%= f.label :remember_me %></p>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-info" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
